*/Build
*/Intermediate
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
BuildingEscape/Content/StarterContent/
BuildingEscape/BuildingEscape.VC.db
BuildingEscape/BuildingEscape.VC.VC.opendb
BuildingEscape/Content/Audio/
